<form class="form-signin">
  <h1 class="mb-4">PQR</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div class="checkbox text-left">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-primary btn-block" type="submit">Sign in</button>
  <div class="text-center">OR</div>
  <button class="btn btn-primary btn-block" type="submit">Sign up</button>
</form>